# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE config files (PyCharm, VSCode, etc.)
.idea/
.vscode/

# Ignore system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

.env
